.about_body{
    max-width:970px;
    margin:0 auto;
}
.title{
    font-family:"Montserrat",sans-serif;
    font-weight: bold;
    font-size:32px;
    text-align:center;
}

.about-text{
    margin:0 0 24px 0;

    }
.about_text{
    width:672px;
    margin:0 auto;
    font-size:16px;
    font-family:"Raleway",sans-serif;
    color:#8989a2;
    text-align:center;
}

.about_row{
    display:flex;
    justify-content:center ;
    max-width:963px;
}
.about_row_column{
    flex:0 0 33 .33%;
    padding:0px 16px;
}
.about_row_icon{
    margin:0 auto;
    width:40px;
    height:40px;
    display:flex;
    justify-content:center ;
}
.about_row_text{
    font-family:"Montserrat",sans-serif;
    font-weight:bold;
    font-size:16px;
    line-height:24px;
}


