.magic-text p::first-letter{
    font-size:150%;
    color:purple;
    text-transform:uppercase

}
p:first-letter{
    color:red;

}
p::first-line{
    color:blue;
}
a{
    color:green;
    text-decoration:none;
}
a:hover{
    color:red;
}
li:first-child{
    color:red;
}
li:nth-child(even){
    background-color: lightgray;
}
li:nth-child(2n){
    text-decoration:underline;
}
a[target="_blank"] {
  text-decoration:underline red;
}
a[href^="http://"]::after,
a[href^="https://"]::after{
content:"→";
color:blue;}

body{
    color:green;
}
h1{
    color:red;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

container{
    background-color: gray;
    color:white;
    font-family: Ubuntu,sans-serif;
    font-weight:500;
    max-width:1170px;
    margin:auto;
  }
  h2{
    text-align: center;
  }
  .paragraphone{
    text-align: center;
  }
  .paragraphtwo{
    width:400px;
}

body{
    background-color: grey;
}
  .inline-block{
    display: inline-block;
    width:200px;
    height:100px;
    background-color: blue;
    margin:10px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
   body{
    background-color: gray;
    color:white;
    font-family: "Ubuntu",sans-serif;
   }
   wrapper{
    display:flex;
    align-items:center;
    justify-content:space-beetwen;
    padding:0 10px;
    background-color: rgb(44,38,38);
    border-radius:10px;
   }
   ul{
    display:flex;
    list-style:none;
   }
   .itemlist{
    font-size:20px;
    margin-right:20px;
   }

   a{
    color:white;
   }

   .container{
    width:960px;
    margin:0 auto;
    padding:20px;
    background: color #f0f0f0;
   }
   @media screen and (max-width:768px){
    .container{
        width:100%;
        padding:10px;
    }
    
   }

   @media screen and(max-width:480px){
    .container{
        padding:5px;
    }
   }